@import "show-gardens";

.index-container {
  width: 90%;
  margin: 0 auto;
}

.your_garden {
  color: $light-gray;
  background-color: $green;
  opacity: 0.9;
  width: 110px;
  position: absolute;
  top: 5px;
  right: 135px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  &:hover {
    opacity: 1;
  }
}

.garden-card {
  margin-bottom: 20px;
  position: relative;
  &:hover {
  opacity: 0.8;
}
}

.header {
  margin: 15px 0;
  font-size: 22px;
}

.card-title {
    font-size: 20px;
    margin: 5px 0;
    color: $gray;
}

.purpose {
  font-size: 12px;
  padding: 0;
  margin: 0;
  color: gray;
}


.garden-image {
  height: 60%;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  margin-bottom: 5px;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $gray;
  height: 130px;
}

.row {
  a {
  color: $gray;
  padding-top: 10px;
  }
}
