// Import page-specific CSS files here.
@import "home";

p {
  margin-bottom: 0px;
}

.my-container {
  margin: 0 auto;
  width: 95%;
}

a {
  color: $gray;
  &:hover {
    opacity: 0.8;
    text-decoration: none;
  }
}

img {
  border-radius: 5px;
}
