<div class="container">
  <div class="row">
    <img src="<%= garden.photo %>" alt="">
  </div>
  <div class="row">
    <%= link_to garden_path(garden) do %>
    <h4 class="title"><%= garden.name %></h4>
    <p class="info"><%= garden.purpose %></p>
    <% end %>
  </div>
</div>



