<div class="container">
  <div class="row">
    <img src="https://picsum.photos/200/200" alt="">
  </div>
  <div class="row">
    <h4 class="title"><%= garden.name %></h4>
    <p class="info"><%= garden.description %></p>
  </div>
</div>



