<div class="container">
  <div class="row">
    <img src="<%= garden.photo %>" alt="">
  </div>
  <div class="row">
    <h4 class="title"><%= garden.name %></h4>
    <p class="info"><%= garden.purpose %></p>
  </div>
</div>



