.bookings-container {
  margin: 0px auto;
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
}

.bookings-card {
  position: relative;
  display: flex;
  margin: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: $green;
  color: white;
  img {
    border-radius: 5px;
    height:150px;
    width: 50%;
  }
  width: 350px;
}

.bookings-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  p {
    font-size: 10px;
  }
  padding: 5px 5px;
}

.modal-body {
  h2 {
    padding: 20px 0px;

  }

  h3 {


  }
}

.bookings-delete {
  display: flex;
  position: absolute;
  bottom: 5px;
  right: 5px;
  i {
    color: white;
  }
}



