.image-banner {
  width: 100vw;
  height: 40vh;
  padding: 40px 0px;
  display: flex;
}

.img-third {
  display: flex;
  flex-grow: 1;
  background-size: cover;
  height: 400px;
  margin: 0 1px;
  border-radius: 15px;
}
