.navbar-lewagon {
  justify-content: space-between;
  background: white;
  align-items: center;
}

.nav-border {
  border-bottom: solid 0.5px rgba(30, 30, 30, 0.8);
}

.navbar-brand :hover {
  opacity: 0.8;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-transparent {
  background: rgba(0, 0, 0, 0)
}

.nav-item {
  padding: 10px;
  padding-bottom: 0;
  align-items: center;
  display: flex;
}

.light-hover :hover {
  color: $light-gray;
  border-bottom: solid 2px rgba(255, 255, 255, 0.8);
}

.dark-hover :hover {
  color: $gray;
  border-bottom: solid 2px rgba(60, 60, 60, 0.8);
}

.nav-link-dark {
  color: $gray;
}

.nav-link-light {
  color: $light-gray;
}

.navbar-light .navbar-nav .nav-link {
  // color: black;
  // font-weight: bold;
}

.grow {
  font-family: 'Satisfy', cursive;
  color: white;
  font-size: 40px;
}

.icon {
  color: white;
  font-size: 30px;
}

.grow-dark {
  font-family: 'Satisfy', cursive;
  color: $gray;
  font-size: 40px;
}

.icon-dark {
  color: $gray;
  font-size: 30px;
}

.modalplant {
  font-size: 30px;
}

.modalplant :hover {
  opacity: 0.6;
}

.modal-footer {
  justify-content: left;
  color: $gray;
}

#modallink {
  color: $gray;
}
