.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-transparent {
  background: rgba(0, 0, 0, 0)
}

.navbar-light .navbar-nav .nav-link .nav-font-black a {
  color: $gray;
  &:hover {
    color: rgba(0, 0, 0, 0.4);
  }
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  &:hover {
    color: $gray;
  }
  font-weight: bold;
}


.grow {
  font-family: 'Satisfy', cursive;
  color: white;
  font-size: 40px;
}

.icon {
  color: white;
  font-size: 30px;
}

.grow-dark {
  font-family: 'Satisfy', cursive;
  color: $gray;
  font-size: 40px;
}

.icon-dark {
  color: $gray;
  font-size: 30px;
}


