.simple-calendar {
  padding: 30px;
  .day {
    max-width: 50px;
    max-height: 50px;
    border: 1px solid;
    background-color: white;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {
    background-color: $green;
    color: white;
  }
}

.calendar-day-titles {
  background-color: $green;
  border: 1px solid;
  color: white;
}

.calendar-heading {
  a {
    color: $green;
  }
}

.card-background-color-white {
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 5px 3  px;
}
