<div class="review-show" data-garden-id="<%= @garden.id %>">
  <div class="review-info-small space-between">
    <p id="review-name"><%= review.user.username %></p>
    <div>
       <p class="reviewrating"> Rating:</p>
       <% review.rating.times do %>
         <i class="fas fa-star yellow"></i>
       <% end %>
       <% empty = 5 - review.rating %>
       <% empty.times do %>
         <i class="far fa-star yellow"></i>
         <% end %>
    </div>
  </div>
  <div>
    <p><%= review.description %> </p>
  </div>
  <% if policy(review).destroy? %>
    <%= link_to review_path(review), method: :delete, remote: true do  %>
      <i class="fas fa-trash-alt" ></i>
    <% end %>
  <% end %>
</div>
