// card Garden

div.card-container-user {
  position: relative;
  overflow: hidden;
  height: 200px;
  background: white;
  display: flex;
  align-items: center;
}

div.card-container-garden {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.item-card {
  overflow: hidden;
  height: 200px;
  background: white;
  display: flex;
  align-items: center;
  width: 100%;
}

.item-card img {
  height: 100%;
  width: 200px;
  object-fit: cover;
}

.item-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.item-card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-text {
  display: flex;
  flex-direction: column;
  padding-left: 15px
}

.cards-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  width: 78%;
}

.user-card img {
  height: 100%;
  width: 200px;
  object-fit: cover;
}

.user-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.user-card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-text {
  display: flex;
  flex-direction: column;
  padding-left: 15px
}

.btn-update a{
  color: white;
  text-decoration: none;
}

.btn-update a:hover {
  color: white;
  text-decoration: none;
}

.btn-update {
  // position: absolute;
  display: flex;
  justify-content :flex-end;
  margin-top: 25px;
  margin-left: 15px;
  text-decoration: none;
  padding: 10px 15px;
  background-color: #5CA96F;
  color: white;
  border-radius: 5px;

}

.btn-update:hover {background-color: #3e8e41}

.btn-bookings a:hover {
  color: white;
  text-decoration: none;
}

a {
  color: white;
}

.btn-bookings {
  margin-top: 30px;
  width: 133px;
  text-decoration: none;
  padding: 10px 15px;
  background-color: #5CA96F;
  color: white;
  border-radius: 5px;
}

.btn-bookings:hover {background-color: #3e8e41}

.flex-container {
  display: flex;
  flex-direction: column;
}

.show-container {
  min-height: calc(100vh - 234px);
}

.user-infos {
  padding-left: 15px;
}

.garden-card {
  padding-left: 15px;
}

.card-product-infos {
  // display: flex;
  // flex-direction: column;
  height: 100%;
  padding: 20px;
}

.first-button {
  // padding-top: 40px;
  display: flex;
  justify-content: space-between;
}

div.card-container-user img {
  border-radius: 50%;
}
